@model IEnumerable<_81_ToDoList.Models.Task>

@{
    ViewData["Title"] = "Index";
}



<div class="container">
    <h1>Todo list</h1>
    <p>
        <a class="btn btn-success" asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a class="btn-link" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn-link" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="btn-link" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


